@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {  --font-mono: "JetBrains Mono", "sans-serif"; }

body {
    background-image: radial-gradient(oklch(20.8% 0.042 265.755) 3px, transparent 0);
    background-size: 60px 60px;
    background-position: -19px -19px;
}