---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Diamond Studios</title>
	</head>
	<body class="bg-slate-950 flex w-screen mt-5 md:h-screen md:mt-0 mb-20 sm:mb-0 justify-center items-center flex-col">
        <slot />
    </body>
</html>